# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Éditeurs
.vscode/
.idea/
*.swp
*~

# LaTeX (si tu gardes les sources du CV dans le repo)
*.aux
*.log
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
